# Ignore everything except .gitignore
/*
!.gitignore

# And the robots folder
!robots/

# But ignore everything inside that
robots/*

# Except the bobthebuilder folder
!robots/bobthebuilder/

# Still want to ignore annoying .class files though
robots/bobthebuilder/*.class
